

<app-layout></app-layout>

<div class="container" *ngIf="isLoading"></div>
<div class="container"  *ngIf="!isLoading">
  <div class="card">
    <div class="side1 detail-box">
        <div class=" detail name-box">
          <label for="name">Name : <span>{{userData.name}}</span></label>
        </div>

        <div class="detail name-box">
          <label for="name">Mobile : <span>{{userData.mobile}}</span></label>
        </div>

        <div class="detail name-box">
          <label for="name">Genter : <span>{{userData.genter}}</span></label>
        </div>


        <div class="detail name-box">
          <label for="name">Email : <span>{{userData.email}}</span></label>
        </div>

        <div class="detail name-box">
          <label for="name">Location : <span>{{userData.location}}</span></label>
        </div>
    </div>


    <div class=" side2 img-box">
      <img [src]="userData.image" alt="">
    </div>
  </div>

  <div class="button" [routerLink]="['/profile','edit']">
    <p>Edit Profile</p>
  </div>
</div>
