<app-layout></app-layout>

<!-- <div class="container" *ngIf="isLoading"></div> -->
<div class="container" >
  <form #form="ngForm" (ngSubmit)="resetPassword(form)">
    <div class="card">
      <div class="side detail-box">
        <div class="password old-password">
          <label for="old-password">Old Password</label>
          <input type="password" name="old" id="" ngModel password required/>
        </div>
        <div class="password new-password">
          <label for="old-password">New Password</label>
          <input type="password" name="new" id="" ngModel password required/>
        </div>
      </div>
    </div>

    <div class="card button">
      <button type="submit" [disabled]="!form.valid">Update Password</button>
    </div>
  </form>
</div>
