<nav
  class="navbar navbar-expand-lg navbar-dark bg-primary"
  style="width: 80%; margin: auto"
>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown f-right">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown link
          </a>
          <ul
            class="dropdown-menu f-right"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <form
    [formGroup]="form"
    (ngSubmit)="SubmittedForm()"
    enctype="multipart/form-data"
  >
    <div class="card">
      <div class="inline comment-box">
        <textarea
          type="text"
          name="comment"
          id=""
          placeholder="Enter Your Comment"
          formControlName="comment"
          required
        ></textarea>
      </div>
      <div class="inline img-box">
        <label for="file" class="side left-side">
          Click and Choose Pic
          <input
            type="file"
            name="img"
            id="file"
            formControlName="image"
            hidden
            (change)="uploadfile($event)"
          />
        </label>
        <div class="side right-side"></div>
      </div>
      <button type="submit" class="inline btn" [disabled]="!form.valid">
        Create
      </button>
    </div>
  </form>
</div>
