<div class="container">
  <div class="row">
    <div class="col col-1">
      <div class="box">
        <div class="u-center-text">
          <h3 class="heading">Sign in</h3>
        </div>
        <form #appForm="ngForm" (ngSubmit)="submitform(appForm)">
          <div class="input-box">
            <div class="box email-box">
              <input
                type="email"
                name="email"
                placeholder="Email"
                ngModel
                email
                required
              />
            </div>

            <div class="box password-box">
              <input
                type="password"
                name="password"
                class="password"
                placeholder="Password"
                ngModel
                password
                required
              />
            </div>
          </div>
          <div class="button">
            <button type="submit" [disabled]="!appForm.valid">Login</button>
          </div>
        </form>

        <div class="signup">
          <a routerLink="/register">Create an Account!</a>
        </div>
      </div>
    </div>
    <div class="col col-2"></div>
  </div>
</div>
