
<app-layout></app-layout>
<div class="container">
    <div  class="card" >
      <div class="comment-box">
       <!-- {{post.comment}} -->
      </div>
      <div class="img-box">
        <!-- <img [src]="post.image" alt=""> -->
      </div>
      <!-- <div class="footer-box">
        <div class="btn like-btn">
          <span class="count like-count">{{post.like}}</span>
          <img src="../../assets/images/like.png" alt="">
        </div>
        <div  class="btn unlike-btn">
          <span class="count unlike-count">{{post.unlike}}</span>
          <img src="../../assets/images/dislike.png" alt="">
        </div>
        <div  class="btn comment-btn">
          <span class="count comment-count">{{post.comment}}</span>
          <img src="../../assets/images/conversation.png" alt="">
        </div>
        <div  class="btn share-btn">
          <span class="share-count">{{post.share}}</span>
          <img src="../../assets/images/share.png" alt="">

        </div>
      </div> -->
  </div>


  <!-- <div class="card">
    <div class="comment-box">
      Hi im Rifkhan this is my first comment
      Hi im Rifkhan this is my first comment
      Hi im Rifkhan this is my first comment

    </div>
    <div class="img-box"></div>
    <div class="footer-box">
      <div class="btn like-btn">
        <span class="count like-count">5</span>
        <img src="../../assets/images/like.png" alt="">
      </div>
      <div  class="btn unlike-btn">
        <span class="count unlike-count">12</span>
        <img src="../../assets/images/dislike.png" alt="">
      </div>
      <div  class="btn comment-btn">
        <span class="count comment-count">12</span>
        <img src="../../assets/images/conversation.png" alt="">
      </div>
      <div  class="btn share-btn">
        <span class="share-count">45</span>
        <img src="../../assets/images/share.png" alt="">

      </div>
    </div>
  </div> -->

  <div class="fab-btn" routerLink="/home/create">

  </div>
</div>
